
      /* write css codes order by from general to specific */
      .table {
        margin: auto;
        width: 50%;
        padding: 10px;
      }
      table {
        border: 0.1em solid black;
      }
      table tr th,
      table tr td {
        width: 16ch;
        height: 16ch;
        text-align: center;
      }
      table tr.days {
        background-color: gray;
      }
      table tr.hours-and-data {
        background-color: lightgray;
      }
      table tr.hours-and-data .hours {
        background-color: gray;
      }
      table tr.days th#null {
        background-color: rgb(248, 248, 248);
      }
      table tr td span.weekend{
        transition-duration: 3s;
        transform: rotate(210deg) 3s;
        background-color: rgb(228, 89, 89);
        font-size: 2em;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        white-space: nowrap;
      }
      .button-container {
        margin-top: 4em;
        margin-left: 45em;
        width: 50%;
        padding: 10px;
      }
      button#generate-num-button {
        width: 6em;
        height: 4em;
        background-color: #cbeced;
        text-align: center;
        color: black;
        border-radius: 15%;
      }