<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <style>
      .container{
        border:20px;
        height:300px;
        width:300px;
        background-color : yellow;
        font-size:50px;
      }
      .em{
        font-size: 2em;
        height: 50%;
        width: 50%;
        border: 1em;
        background-color : red;
      }
    </style>
  </head>
  <body>
    <h1>my contact info : hakanyarman13@gmail.com</h1>
    
    <div class="container"> <div class="em" >  rbnrewnrn </div> </div>
    
    <!-- shiver : titremek
      perception : algı
      involve : içermek
      clerk : tezgahtar , çalışan
      loan : ödünç vermek , borç(noun)
      vague : belirsiz
      settle : yerleşmek , yerleştirmek , anlaşmak(deyim) , settlement: yerleşke
      occur : meydana gelmek , olmak ; occurence : gerçekleşen olay
      respond : yanıtlamak
      moderate : makul,ölçülü, orta halli ; moderation : orta yolu bulmak. ; moderator : yönetmek. 
    -->

  </body>
</html>
