<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      button.font-button {
        width: 9em;
        height: 3em;
      }
    </style>
    <script>
      console.log(document.getElementsByClassName("font-button").style);
      function increaseFont() {
        document.getElementById("font").style.fontSize = "3em";
      }
      function decreaseFont() {
        document.getElementById("font").style.fontSize = "0.5em";
      }

      // display: none ise html elementi görünmez , display : block gösterir
      // okunabilirliği artırmak için her satır 34 karakter uzunluğunda olmalı.(uı design)

      
        
        
       
        

       
   
    </script>
  </head>
  <body>
    <div class="container">
      <p id="font">Change my font size</p>
      <button class="font-button" onclick="increaseFont()">
        Click to increase font size.
      </button>
      <button class="font-button" onclick="decreaseFont()">
        Click to decrease font size.
      </button>
    </div>
  </body>
</html>
