<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
    <script>
        
        var jsNums = JSON.parse('{{anArray | tojson | safe}}');
        
    </script>
    <script src="table-script.js"></script>
    
    <link rel="stylesheet" href="table-style.css">
  </head>
  <body>
    <div class="table">
      <h2>Staff Working Days List</h2>
      <table>
        <tr class="days">
          <th id="null"></th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
        <tr class="hours-and-data">
          <th class="hours">8-16</th>
          <td id="data1"></td>
          <td id="data2"></td>
          <td id="data3"></td>
          <td id="data4"></td>
          <td id="data5"></td>
          <td id="data6"></td>
          <td id="data7"></td>
        </tr>
        <tr class="hours-and-data">
          <th class="hours">16-24</th>
          <td id="data8"></td>
          <td id="data9"></td>
          <td id="data10"></td>
          <td id="data11"></td>
          <td id="data12"></td>
          <td id="data13"></td>
          <td id="data14"></td>
        </tr>
      </table>
    </div>
    <div class="button-container">
      <button id="generate-num-button" onclick="generateNum()">Generate Number</button>
    </div>
  </body>
</html>
