<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Nav Bar</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://127.0.0.1:5000/homepage">Home</a>
      <a href="http://127.0.0.1:5000/profile">Profile</a>
      <a href="http://127.0.0.1:5000/contact">Contact</a>
      <a href="http://127.0.0.1:5000/about">About</a>
    </div>
    <style>
      .topnav {
        background-color: #69cb69;
        overflow: hidden;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #e18d16;
        color: black;
      }

      .topnav a.active {
        background-color: #777cc2;
        color: white;
      }
    </style>
  </body>
</html>
